.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color with transparency */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better visibility */
    z-index: 1000;
  }
  
  .logo {
    width: 100px; /* Adjust the logo size as needed */
  }
  
  .search-input {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  